[submodule "external/helgoboss-midi-cpp"]
	path = external/helgoboss-midi-cpp
	url = https://github.com/paul-reilly/helgoboss-midi-cpp.git
[submodule "external/RxCpp"]
	path = external/RxCpp
	url = https://github.com/ReactiveX/RxCpp.git
[submodule "external/helgoboss-learn-cpp"]
	path = external/helgoboss-learn-cpp
	url = https://github.com/paul-reilly/helgoboss-learn-cpp.git
